.right-aligned{
    float: right;
}
.hide {
    display: none;
}
.ml-12{
    margin-left: 12px;
}
.line-height-30px{
    line-height: 30px;
}

#logo{
    text-decoration: none;
    color: black;
}
#folderSelector{
    width:auto;
    display: inline;
}
#table {
    width: 100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
} 
#table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
#table tr:nth-child(even) {
    background-color: #eeeeee;
}
#table p{
    display: flex;
}
#table p input[type='text'] {
    flex: 1;
    border: none;
    background-color: #eee;
}
#table p textarea {
    flex: 1;
    border: 1px #dddddd solid;
    background-color: #eee;
}
#table details p{
    margin-left: 1.25em;
}
#noteContent {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

#u_read{
    width: 183px;
}

th{
    text-align: center;
}
select {
    padding: 1px;   
}
